In [ ]:
import pandas as pd
from src.core import config, PACKAGE_ROOT
from src.predict import make_prediction
from src.pipeline import df_model

In [2]:
PACKAGE_ROOT

WindowsPath('C:/Users/Carolina/OneDrive/Github/mlops')

In [5]:
data = pd.read_csv(f'{PACKAGE_ROOT}/{config.ml_config.predict_data_path}', index_col=0)

In [6]:
df = df_model(data)
df.head()

,id,date,bedrooms,bathrooms,floors,waterfront,view,condition,grade,yr_built,...,zipcode_encoded,view_encoded,condition_encoded,grade_encoded,sqft_living,sqft_lot,sqft_above,sqft_basement,sqft_living15,sqft_lot15
17384,1453602313,20141029T000000,2,1,3,0,0,3,7,1999,...,0.0,0.0,0.0,0.0,0.120045,0.000832,0.141711,0.00,0.137184,0.002062
722,2225059214,20140808T000000,4,3,2,0,0,4,00000,1988,...,1.0,0.0,1.0,1.0,0.486976,0.043943,0.574866,0.00,0.642599,0.092183
2680,2768000270,20140625T000000,2,0,1,0,0,3,7,1914,...,1.0,0.0,0.0,0.0,0.121178,0.002593,0.110963,0.08,0.138989,0.008120
18754,6819100040,20140624T000000,2,1,1,0,0,4,8,1927,...,1.0,0.0,1.0,2.0,0.086070,0.001683,0.101604,0.00,0.182310,0.005605
14554,4027700666,20150426T000000,4,2,2,0,2,3,9,2002,...,2.0,1.0,0.0,3.0,0.318233,0.007664,0.375668,0.00,0.319495,0.033175

In [7]:
make_prediction()

INFO:root:Iniciado processo de aplicação do modelo
INFO:root:modelo model\house_price_regression_2024-11-09.pkl carregado
INFO:root:Dados validados
INFO:root:4323 predições realizadas
INFO:root:Predições salvas

True